.pic{
    width: 100%; height: auto !important;
}

.flex-container {
    display: flex;
    justify-content: space-between;
  }

.colBackground{
    width: 525px;
    height: 325px;
    background-position-x: 50%;
    background-position-y: 1px;
}